<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a routerLink="/posts" class="brand-link">
      <img src="assets/logo.jpg" class="brand-image img-circle elevation-3" alt="Logo">
      <span class="brand-text font-weight-light">zarzour</span>
    </a>
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/avatar.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"></a>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column">
          <li class="nav-item">
            <a routerLink="/posts" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>Posts</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  